.load-player-data {
  background-color: var(--main-bg-color-light);
  padding: 24px;

  .info {
    margin-bottom: 16px;
    display: block;
  }


  .label {
    margin-right: 12px;
  }

  &__button {
    display: block;
    margin-top: 16px;
    width: 100%;
  }
}