.searched-player-overview-wrapper {
  display: flex;

  .searched-player-overview {
    background-color: var(--main-bg-color-light);
    padding: 24px;
    margin-right: 2px;
    flex-grow: 1;
  
    &__name {
      margin-top: 0;
      border-bottom: 1px solid var(--pink);
      margin-bottom: 16px;
      padding-bottom: 12px;
      font-size: 32px;
    }
  }
}