.table {
    th {
        padding: 16px;
        background: var(--main-bg-color-light);

        .sort-span {
            font-size: 14px;

            &--hide {
                visibility: hidden;
            }
        }
    }

    td {
        padding: 8px;
    }
}

.align-right {
    text-align: right;
}

.paging-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--main-bg-color-light);
    padding: 8px;
    border-left: 2px solid var(--main-bg-color);
    border-right: 2px solid var(--main-bg-color);
}
.paging-button {
    border: none;
    background-color: var(--pink);
    color: white;
    padding: 8px 16px;

    &:disabled {
        background-color: var(--main-bg-color);
        color: #888888;
    }
}

.paging-count {
    margin: 0 16px;
}