.table {
    th {
        padding: 16px;
        padding-right: 56px;
        background: var(--main-bg-color-light);
        position: relative;
        text-align: left;

        .sort-span {
            position: absolute;
            right: 16px;
            top: 24px;
            vertical-align: middle;
            font-size: 16px;
        }
    }

    td {
        padding: 8px;
    }
}

.align-right {
    text-align: right;
}