:root {
  --main-bg-color: #282c34;
  --main-bg-color-light: #414857;
  --pink: #e91e63;
  --app-width: 800px;
}

.App {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  font-size: 16px;
  color: white;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--app-width);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--app-width);
}

.main {
  width: var(--app-width);
}

.form {
  margin-bottom: 24px;

  &__input {
    
  }

  &__button {

  }
}

.searching {
  text-align: center;
}

.error {
  text-align: center;
  color: rgb(255, 86, 86);
}